.App {
  text-align: center;
}

/* .chakra-text {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.css-k008qs {
  align-items: center;
}
.css-1nj7tje {
  display: flex;
}
.chakra-image {
  justify-content: center;
  display: flex !important;
  width: 400px !important;
}
/* .carousel .slide img{
  width: ;
} */

.carousel .control-next.control-arrow {
  right: 119px !important;
}
.carousel .control-prev.control-arrow {
  left: 119px !important;
}
